<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styles.css">
</head>

<footer>
  <div class="footer-top">
    <div class="logo-footer aspa"></div>
    <div class="redes-sociales">
      <div class="icono-red aspa"></div>
      <div class="icono-red aspa"></div>
      <div class="icono-red aspa"></div>
      <div class="icono-red aspa"></div>
      <div class="icono-red aspa"></div>
    </div>
  </div>
  <div class="footer-columnas">
    <div class="columna">
      <h4>lorem ipsum</h4>
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
    </div>
    <div class="columna">
      <h4>lorem ipsum</h4>
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
    </div>
    <div class="columna">
      <h4>lorem ipsum</h4>
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
    </div>
    <div class="columna">
      <h4>lorem ipsum</h4>
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
    </div>
  </div>
</footer>